.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .place-order {
    flex-direction: column;
    align-items: center;
  }

  .place-order-left {
    max-width: 100%;
  }

  .place-order-right {
    max-width: 100%;
    padding: 0px;
  }
}

.place-order-left {
  width: 100%;
  max-width: max(40%, 600px);
  padding: 15px 20px;
  background-color: #f8eeee;
  border-radius: 5px;
  border: 1px solid tomato;
}

.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.place-order-left input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.place-order-left input:hover {
  border: 1px solid tomato;
}
.place-order-left input:focus {
  border: 1px solid tomato;
}

.place-order-left .multi-field {
  display: flex;
  gap: 10px;
}

.place-order-right {
  width: 100%;
  max-width: max(30%, 500px);
  padding: 15px;
}

.place-order-right .cart-total button {
  margin-top: 30px;
}
